<link rel="stylesheet" href="/static/css/nav.css">

<nav>
    <div class="header">    
        <img class="logo-icon" src="/static/images/navbar/logo.svg" alt="logo">
        <a class="company-name" href="#">EmptyCup</a>
        <img class="menu-icon" src="/static/images/navbar/menu.svg" alt="menu">
    </div>
    
    <div class="overlay">
        <div class="overlay-content">
            <div class="content-1">
                <a class="contact-icon" href="#"><img src="/static/images/navbar/contact.svg" alt=""></a>
                <a class="gallery-icon" href="#"><img src="/static/images/navbar/gallery.svg" alt=""></a>
                <a class="map-icon" href="#"><img src="/static/images/navbar/map.svg" alt=""></a>
            </div>
    
            <div class="content-2">
                <a style="cursor: pointer;"><img class="shortlist-nav-icon" src="/static/images/navbar/shortlisted-0.svg" alt=""></a>
                <a class="sort-icon" href="#"><img src="/static/images/navbar/sort.svg" alt=""></a>
            </div>
        </div>
    </div>
</nav>